html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-image: url("assets/images/background_alt.gif");
    background-repeat: repeat;
    background-size: 319px 309px;
    overflow-x: hidden;
}

main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-width: 1500px;
    min-height: 2080px;
    background-color: #859355;
    background-image: url("assets/images/greenbg3.png");
    background-size: contain;
    border-radius: 0.5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leafLeft {
    height: 33%;
    position: absolute;
    margin-left: -1%;
    margin-top: -1%;
}

#leafRight {
    height: 30%;
    position: absolute;
    margin-top: -1%;
    margin-left: 90%;
}

#logoFloat {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    animation: logoSpin 1s ease-in-out forwards;
}

#gifContainer {
    position: absolute;
    left: 14%;
    top: -6.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 145px;
    z-index: -1;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.image-container a {
    display: inline-flex;
    margin: 0 3px;
    padding: 0;
    text-decoration: none;
}

.image-container img:hover {
    box-shadow: 0 0 10px 5px #ffdede,
                0 0 10px 5px #ff008a,
                5px 5px 5px #ff0000;
    cursor: pointer; 
}

#bookContainer {
    width: 300px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#guestbook {
    height: 750px;
    padding-left: 15%;
    padding-top: 33%;
    animation: windowBob 5.5s ease-in-out infinite;
}

#bookTitle {
    height: 100px;
    position: absolute;
    top: 1%;
    left: -100px;
    animation: windowBob 5.5s ease-in-out infinite;
}

#fuzzBox {
    height: 110px;
    width: 270px;
    position: absolute; 
    left: -106px;
    animation: windowBob 5.5s ease-in-out infinite;
}

#wave {
    height: 180px;
    top: -9.5%;
    position: absolute;
    left: 65%;
    animation: windowBob 5.5s ease-in-out infinite;
}

#kitty2 {
    height: 1000px;
    position: absolute;
    top: 36.5%;
    left: -65%;
    animation: windowBob 5.5s ease-in-out infinite;
}


#leftwindows {
    position: absolute;
    left: -10%;
    top: 10%;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#player {
    width: 100%;
    animation: windowBob 5s ease-in-out infinite;
}

#playing {
    position: absolute;
    top: 7%;
    left: 10%;
    width: 58%;
    animation: windowBob 5s ease-in-out infinite;
}

#trackPic {
    position: absolute;
    top: 8.75%;
    left: 14%;
    width: 50%;
    animation: windowBob 5s ease-in-out infinite;
}

#mediaShine {
    position: absolute;
    top: 7%;
    left: 10%;
    width: 58%;
    animation: windowBob 5s ease-in-out infinite;
}

#playlist {
    width: 90%;
    margin-top: 10px;
    animation: windowBob 4.5s ease-in-out infinite;
}

#progressBack {
    width: 50%;
    position: absolute;
    top: 36%;
    right: 8%;
    animation: windowBob 5s ease-in-out infinite;
}

#progressFront {
    width: 47%;
    position: absolute;
    top: 36.1%;
    right: 9.75%;
    animation: windowBob 5s ease-in-out infinite;
}

#playBack {
    width: 8%;
    position: absolute;
    top: 35%;
    left: 5%;
    animation: windowBob 5s ease-in-out infinite;
}

#playNext {
    width: 8%;
    position: absolute;
    top: 35%;
    left: 30%;
    animation: windowBob 5s ease-in-out infinite;
}

#play {
    width: 8%;
    position: absolute;
    top: 35%;
    left: 18%;
    animation: windowBob 5s ease-in-out infinite;
}

#kitty {
    height: 40%;
    position: absolute;
    top: 5%;
    left: 70%;
    animation: windowBob 4.75s ease-in-out infinite;
}

#djmaicon {
    position: absolute;
    top: -11%;
    width: 100%;
    animation: windowBob 5s ease-in-out infinite;
}

#notes {
    position: absolute;
    top: 98%;
    width: 80%;
    animation: windowBob 3s ease-in-out infinite;
}

#tracks {
    position: absolute;
    top: 51%;
    left: 10%;
    font-family: 'runescape';
    font-size: 20px;
    color: #41389b;
    animation: windowBob 4.5s ease-in-out infinite;
}

#volumeSlider {
    position: absolute;
    top: 2%;
    left: 5%;
    animation: windowBob 5s ease-in-out infinite;
}

/*#speaker {
    position: absolute;
    top: 1.5%;
    left: 5%;
    width: 20%;
    animation: windowBob 5s ease-in-out infinite;
}*/

#mona {
    position: relative;
    margin-top: -5.5%;
    margin-left: -4%;
}

#fav {
    position: absolute;
    margin-top: -9%;
    right: 1.5%;
}

#flowerBar1 {
    position: absolute;
    top: 0.5%;
    left: 50%;
}

#flowerBar2 {
    position: absolute;
    top: 0.5%;
    left: 10%;
}

#maintxt {
    position: absolute;
    display: flex;
    width: 600px;
    margin-top: 50%;
    margin-left: -500%;
    align-items: center;
    padding-top: 15%;
}

@font-face {
    font-family: 'runescape';
    src: url("assets/fonts/runescape.woff");
}

#hithere {
    position: absolute;
    font-family: 'runescape';
    font-size: 50px;
    color: #3b3b3b;
    top: -30px;
}

#intro {
    position: relative;
    font-family: 'runescape';
    font-size: 25px;
    color: #3b3b3b;
}

.carousel-wrapper {
    overflow: hidden;
    width: 95%;
    position: absolute;
    display: flex;
    margin-top: 126%;
    margin-left: 2.5%;
}

#buttonBanner {
    height: 50px;
    display: flex;
    gap: 10px;
    animation: carousel 5s linear infinite;
}

#volume {
    height: 10px;
    background: #b7c7f1;
    border-radius: 5px;
}

#volume::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background: url('assets/gifs/mc.gif');
    background-size: cover;
    border: none;
}

#volume::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url('assets/gifs/mc.gif');
    background-size: cover;
    border: none;
}

#ur {
    position: relative;
    font-family: 'runescape';
    font-size: 25px;
    left: -20%;
    top: -1;
}

#vstr {
    position: relative;
    font-family: 'runescape';
    font-size: 25px;
    left: 200%;
    top: -1.75%;
}

.counter {
    position: absolute;
    height: 150%;
    margin-top: 120%;
    margin-left: 40%;

}

@keyframes logoSpin {
    0% { opacity: 0; transform: rotate(180deg); scale: 0.5;}
    100% { opacity: 1; transform: rotate(0deg); scale: 1}
}

@keyframes windowBob {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}